.mainContainer {
  margin: 20px;
  width: 95%;
  padding: 16px;
}

/*
.gridContainer {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  .gridContainer {
    max-width: 100%;
  }
}
*/

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px; /* Gap between grid items */
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
  .product-list {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
