<!-- * RAINBOW BABY DRAGON SPLITTER BAR-->
<app-splitterbar></app-splitterbar>
<!-- * END RAINBOW BABY DRAGON SPLITTER BAR-->
<!-- TODO FOR TESTING-->

@if (!productList$) {
  <div>Loading...</div>
}
<div class="mainContainer">
  <mat-paginator
    [length]="totalProducts"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Select Page"
    (page)="onPageChange($event)"
    >
  </mat-paginator>
  <div class="product-list">
    @for (product of pagesProducts; track product; let i = $index) {
      <app-product-card
        [product]="product"
        (click)="onClick(product.id)"
      ></app-product-card>
    }
  </div>

  <!--
  <ng-container class="product-list">
    <mat-grid-list
      cols="5"
      gutterSize="16px"
      rowHeight="400px"
      class="gridContainer"
      >
      <mat-grid-tile *ngFor="let product of pagesProducts; index as i">
        <app-product-card
          [product]="product"
          (click)="onClick(product.id)"
        ></app-product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
  -->
</div>
