<mat-label for="image">Image*</mat-label>
<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
  name="image"
  id="image"
  required
  cy-data="fileUpload"
/>
<div class="file-upload" cy-data="fileName">
  {{ fileName || "Select a image for your product." }}

  <button
    type="button"
    mat-mini-fab
    color="primary"
    class="upload-btn"
    cy-data="fileSubmit"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>
