<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Rainbow Baby Dragon Webshop</title>
    <meta name="keywords" content="Webshop, NodeJS, Angular, Training, Dev" />
    <meta
      name="description"
      content="This is the training frontend for the ecommerce API"
    />
    <meta
      name="author"
      content="Christian Kubel Højmose @development@rainbowbabydragon.com"
    />
    <!--Icon and fonts-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <header><app-navbar [title]="title"></app-navbar></header>
  <body>
    <div class="mainContainer">
      <router-outlet></router-outlet>
    </div>
  </body>
  <footer><app-footer [title]="title"></app-footer></footer>
</html>
