<mat-card class="product-card" (click)="onClick(product.id)">
  <mat-card-header>
    <mat-card-title data-cy="mat-card" class="trimTitle">{{
      product.name
    }}</mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ baseUrl }}/images/{{ product.image }}"
    width="150px"
    height="150px"
    />
  <mat-card-content>
    @if (product.onSale) {
      <div class="on-sale" data-cy="on-sale">
        <div class="price">
          <span class="currency">{{
            calculatePrice(product.price, product.currency)
          }}</span>
        </div>
      </div>
    } @else {
      <div class="price" data-cy="price">
        <span class="currency">{{
          calculatePrice(product.price, product.currency)
        }}</span>
      </div>
    }
    <p class="description trimDescription">{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="addToCart($event, product)"
      >
      Add to Cart
    </button>
    @if (product.onSale) {
      <button
        mat-raised-button
        color="accent"
        class="on-sale"
        >
        SAVE {{ product.percentage }} %
      </button>
    }
  </mat-card-actions>
</mat-card>
