<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title data-cy="mat-card" class="trimTitle">{{
      product.name
    }}</mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ baseUrl }}/images/{{ product.image }}"
    width="150px"
    height="150px"
  />
  <mat-card-content>
    <div
      *ngIf="product.onSale; then onSaleTemplate; else defaultTemplate"
    ></div>
    <ng-template #onSaleTemplate>
      <div class="on-sale" data-cy="on-sale">
        <div class="price">
          <span class="currency">{{
            calculatePrice(product.price, product.currency)
          }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template #defaultTemplate>
      <div class="price" data-cy="price">
        <span class="currency">{{
          calculatePrice(product.price, product.currency)
        }}</span>
      </div>
    </ng-template>
    <p class="description trimDescription">{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add to Cart</button>
    <button
      *ngIf="product.onSale"
      mat-raised-button
      color="accent"
      class="on-sale"
    >
      SAVE {{ product.percentage }} %
    </button>
  </mat-card-actions>
</mat-card>
