.product-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
}

.mat-mdc-card .mdc-card {
  height: 500px;
}

.mat-card-header,
.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.mat-card-title,
.mat-mdc-card-title {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 100%;
}

.mad-card-subtitle,
.mat-mdc-card-subtitle {
  text-align: center;
  white-space: nowrap;
}

.mat-card-image,
.mat-mdc-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 250px);
  overflow: hidden;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #3f51b5;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.on-sale .price {
  color: coral !important;
  background-color: none;
}

.sale-badge {
  position: absolute;
  top: 12.5%;
  right: 25px;
  background-color: gold;
  color: white;
  display: inline-block;
}

.percentage {
  font-weight: bold;
  margin-left: 5px;
}

.mat-card-actions,
.mat-mdc-card-actions {
  display: flex;
  justify-content: center;
}
