.mat-mdc-card .mdc-card {
  height: 500px; /* set a fixed height for the card */
}

.mat-card-header,
.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; /* set a fixed height for the header */
}

.mat-card-title,
.mat-mdc-card-title {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 100%;
}

.mad-card-subtitle,
.mat-mdc-card-subtitle {
  text-align: center;
  white-space: nowrap;
}

.mat-card-image,
.mat-mdc-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(
    100% - 250px
  ); /* set the height to accommodate for the header and actions */
  overflow: hidden; /* hide overflow text */
}

.description {
  text-overflow: ellipsis; /* add ellipsis for overflow text */
  overflow: hidden; /* hide overflow text */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* set a fixed height for the price section */
  color: #3f51b5;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.on-sale .price {
  background-color: coral; /* set background color for the price section on sale */
  color: white; /* set text color for the price section on sale */
  position: absolute; /* position the price section on sale */
  bottom: 10px;
  right: 10px;
  padding: 5px;
}

.sale-badge {
  background-color: gold; /* set background color for the sale badge */
  color: white; /* set text color for the sale badge */
  display: inline-block;
  padding: 5px;
}

.percentage {
  font-weight: bold;
  margin-left: 5px;
}

.mat-card-actions,
.mat-mdc-card-actions {
  display: flex;
  justify-content: center;
}
