<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="assets/images/computer-img.png"
    width="150px"
    height="150px"
  />
  <mat-card-content>
    <div
      *ngIf="product.onSale; then onSaleTemplate; else defaultTemplate"
    ></div>
    <ng-template #onSaleTemplate>
      <div class="on-sale">
        <div class="sale-badge">
          <span>SALE</span>
          <span class="percentage">{{ product.percentage }}%</span>
        </div>
        <div class="price">
          <span class="currency">{{
            calculatePrice(product.price, product.currency)
          }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template #defaultTemplate>
      <div class="price">
        <span class="currency">{{
          calculatePrice(product.price, product.currency)
        }}</span>
      </div>
    </ng-template>
    <p class="description">{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add to Cart</button>
    <button mat-raised-button color="accent">Write Review</button>
  </mat-card-actions>
</mat-card>
