<mat-toolbar color="primary">
  <span class="spacer-small"></span>
  <span
    ><h1>{{ title }}</h1></span
  >
  <span class="spacer-small"></span>
  <span class="alignRight">
    <a href="#"><img src="assets/images/fb-icon.png" /></a>
    <a href="#"><img src="assets/images/twitter-icon.png" /></a>
    <a href="#"><img src="assets/images/linkedin-icon.png" /></a>
    <a href="#"><img src="assets/images/instagram-icon.png" /></a>
    <a href="#"><img src="assets/images/youtub-icon.png" /></a>
  </span>
</mat-toolbar>
<mat-toolbar color="primary">
  <span class="spacer-small"></span>
  <button mat-button (click)="navigateToPage('about')">
    <h2>About</h2>
  </button>
  <span class="spacer-small"></span>
  <button mat-button (click)="navigateToPage('terms')">
    <h2>Terms</h2>
  </button>
  <span class="spacer-small"></span>
  <button mat-button (click)="navigateToPage('policies')">
    <h2>Policies</h2>
  </button>
  <span class="spacer-small"></span>
  <button mat-button (click)="navigateToPage('contact')">
    <h2>Contact</h2>
  </button>
  <span class="spacer-small"></span>
</mat-toolbar>
