.hero-banner {
  position: relative;
  height: 1325px;
  background-image: url("https://cdn2.thecatapi.com/images/bhs.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
