@if (allOrders | async; as orders) { @if (orders) {
<div class="table-container">
  <table mat-table [dataSource]="allOrders" class="mat-elevation-z8">
    <!--
              ID Column
              -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Order ID</th>
      <td
        mat-cell
        *matCellDef="let order; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ order.id }}
      </td>
    </ng-container>

    <!--
              Order Date colum
              -->

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
        data-cy="productName"
      >
        {{ element.orderDate }}
      </td>
    </ng-container>

    <!--
              Last Change colum
              -->

    <ng-container matColumnDef="lastChange">
      <th mat-header-cell *matHeaderCellDef>Last Change</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ element.lastChange }}
      </td>
    </ng-container>

    <!--
              Customer Name colum
              -->

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ element.customer.personalInformation.firstName }}
        {{ element.customer.personalInformation.middleName }}
        {{ element.customer.personalInformation.lastName }}
      </td>
    </ng-container>

    <!--
              Order Price colum
              -->

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Order Price</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ element.orderTotalPrice | calculatePrice : element.orderCurrency }}
      </td>
    </ng-container>

    <!--
              Currency colum
              -->

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef>Currency</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ element.orderCurrency }}
      </td>
    </ng-container>

    <!--
              Order Items colum
              -->

    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef>Order Items</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        @for(item of element.orderItems; track item ) {
        {{ item.product.sku }}x{{ item.salesQuantity }}
        }
      </td>
    </ng-container>

    <!--
              Notes colum
              -->

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notes</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ element.orderNotes }}
      </td>
    </ng-container>

    <!--
              Order Status colum
              -->

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Order Status</th>
      <td
        mat-cell
        *matCellDef="let element; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        {{ capitalize(element.orderStatus) }}
      </td>
    </ng-container>
    <!--
              View Order colum
              -->

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>View Order</th>
      <td
        mat-cell
        *matCellDef="let order; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        <button mat-raised-button color="accent" (click)="viewOrder(order.id)">
          View
        </button>
      </td>
    </ng-container>

    <!--
              Update Order colum
              -->

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Update Order</th>
      <td
        mat-cell
        *matCellDef="let order; let odd = odd"
        [ngClass]="{ striped: odd }"
      >
        <button
          mat-raised-button
          color="warn"
          (click)="updateOrder(order)"
          [disabled]="isButtonActive(order.id)"
        >
          Update
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="striped"></tr>
    <tr
      mat-row
      *matRowDef="let row; let odd = odd; columns: displayedColumns"
      [ngClass]="{ striped: odd }"
    ></tr>
  </table>
</div>
} @if (!orders.length ) {
<div class="mainContainer">
  <h1>There is no order to show here - Please come back later</h1>
</div>
} }
