<div *ngIf="isCurrentOrderEmpty | async">
  <button (click)="onClick()">
    Click me for data - Only for testing - remove in production
  </button>
</div>
<div class="mainContainer" *ngIf="currentOrder | async as orders">
  <div *ngFor="let order of orders">
    <div class="headline">
      <h1>Thank you for your order!</h1>
    </div>
    <hr />
    <div class="dataContainer">
      <div>
        <p><strong>OrderDate:</strong> {{ order.orderDate }}</p>
      </div>
      <div>
        <p><strong>OrderNumber:</strong> {{ order.id }}</p>
      </div>
      <div>
        <p><strong>Update:</strong> {{ order.lastChange }}</p>
      </div>
    </div>
    <hr />
    <div class="headline">
      <h2>Order Content</h2>
    </div>
    <div class="orderContainer">
      <div class="orderLines">
        <div *ngFor="let item of order.orderItems" class="orderItem">
          <img
            src="{{ baseUrl }}/images/{{ item.product.image }}"
            width="75px"
            height="75px"
          />
          <div class="productInfo">
            <p>
              <em>SKU:</em>
              {{ item.product.sku }}
            </p>
            <p>
              <em>Item:</em>
              {{ item.product.name }}
            </p>

            <p><em>Quantity:</em> {{ item.salesQuantity }}</p>
            <p>
              <em>Price:</em>
              {{ calculatePrice(item.price, order.orderCurrency) }}
            </p>
          </div>
          <div class="priceInfo">
            Total:
            <strong>{{
              calculateLinePrice(item.price, item.salesQuantity)
            }}</strong>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="priceContainer">
      <h2>Total Price</h2>
      <div class="totalPrice">
        <p>
          {{ calculatePrice(order.orderTotalPrice, order.orderCurrency) }}
        </p>
      </div>
    </div>
    <hr />
    <div class="headline">
      <h2>Customer Information</h2>
    </div>
    <div class="orderCustomerInformationContainer">
      <div class="orderCustomerInformation">
        <p>
          <strong>Name:</strong>
          {{ order.customer.personalInformation.firstName }}&nbsp;{{
            order.customer.personalInformation.middleName
          }}&nbsp;{{ order.customer.personalInformation.lastName }}
        </p>
        <p>
          <strong>Email:</strong>
          {{ order.customer.personalInformation.email }}
        </p>
        <p>
          <strong>Phone:</strong>
          {{ order.customer.personalInformation.phone }}
        </p>
      </div>
    </div>
    <hr />
    <div>
      <div class="shippingInformationContainer">
        <div class="shippingAndBillingInformation">
          <div class="shippingInformation">
            <h2>Shipping Address</h2>
            <p>
              <strong>Address:</strong>
              {{ order.customer.shippingAddress.address }}&nbsp;{{
                order.customer.shippingAddress.address2nd
              }}
            </p>
            <p>
              <strong>ZipCode:</strong>
              {{ order.customer.shippingAddress.zipCode }}
            </p>
            <p>
              <strong>City:</strong>
              {{ order.customer.shippingAddress.city }}
            </p>
            <p>
              <strong>Country:</strong>
              {{ order.customer.shippingAddress.country }}
            </p>
          </div>
          <div
            *ngIf="!order.customer.billingAddress"
            class="shippingInformation"
          >
            <h2>Billing Address</h2>
            <p>
              <strong>Address:</strong>
              {{ order.customer.shippingAddress.address }}&nbsp;{{
                order.customer.shippingAddress.address2nd
              }}
            </p>
            <p>
              <strong>ZipCode:</strong>
              {{ order.customer.shippingAddress.zipCode }}
            </p>
            <p>
              <strong>City:</strong>
              {{ order.customer.shippingAddress.city }}
            </p>
            <p>
              <strong>Country:</strong>
              {{ order.customer.shippingAddress.country }}
            </p>
          </div>
          <div
            *ngIf="order.customer.billingAddress"
            class="shippingInformation"
          >
            <h2>Billing Address</h2>
            <p>
              <strong>Address:</strong>
              {{ order.customer.billingAddress.address }}&nbsp;{{
                order.customer.billingAddress.address2nd
              }}
            </p>
            <p>
              <strong>ZipCode:</strong>
              {{ order.customer.billingAddress.zipCode }}
            </p>
            <p>
              <strong>City:</strong>
              {{ order.customer.billingAddress.city }}
            </p>
            <p>
              <strong>Country:</strong>
              {{ order.customer.billingAddress.country }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="headline">
      <h2>Payment method</h2>
    </div>
    <div></div>
  </div>
</div>
