.mainContainer {
  margin: 20px;
  width: 95%;
  padding: 16px;
}

.headline {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dataContainer > div {
  margin-right: 2vw;
}

.orderLines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orderItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

img {
  border-color: #673ab7;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 50%;
  margin: 1vw;
}

.orderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  align-items: flex-start;
}

.productInfo,
.priceInfo {
  margin-right: 2vw;
}

.priceContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.totalPrice {
  margin-left: 2vw;
  padding-top: 0.5vh;
}

.orderCustomerInformationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.orderCustomerInformation {
  flex-direction: column;
  align-items: flex-start;
}

.addressContainer {
  display: flex;
  flex-direction: row;
}

.shippingInformationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shippingInformation {
  gap: 2vw;
}

.shippingAndBillingInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}
